.item_details img {
    border-radius: 5%;
    height: 150px;
}

.item-info {
    margin-left: 20px;
}

.item_details {
    margin-left: 20px;
}

.item_details ul li {
    padding-bottom: 5px;
    padding-top: 0px;
}

.item_details ul li span {
    margin-left: 10px;
    margin-bottom: 0px;
}