.person_details img {
    border-radius: 5%;
    height: 150px;
}

.person-info {
    margin-left: 20px;
}

.person_details {
    margin-left: 20px;
}

.person_details ul li {
    padding-bottom: 5px;
    padding-top: 0px;
}

.person_details ul li span {
    margin-left: 10px;
    margin-bottom: 0px;
}